#logo {
    background-image: url(/img/Logo.png);
    vertical-align: middle;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 45px;
    display: inline-block;
    vertical-align: middle;
}

.button {
    background-color: white;
    width: 785px;
    height: 46px;
}

.buttonaddtask {
    background-color: #14aaf5;
    

}


main {
    background-color: aqua;
}

.container {
    background-color: white;
    width: 775px;
    height: 546px;
    margin: 0 auto;
}

ul {
    list-style: none;

}

.element {
    display: inline-block;
    height: 30px;
    width: 30px;
    border: 1px solid green;
}

.elementred {
    display: inline-block;
    height: 30px;
    width: 30px;
    border: 1px solid red;
}