#logo {
    background-image: url('../img/Logo.png');
    vertical-align: middle;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 45px;
    display: inline-block;
    vertical-align: middle;
}

.button {
    background-color: white;
    width: 785px;
    height: 46px;
}

.buttonaddtask {
    background-color: #14aaf5;

    }


main {
    background-color: #c9c9c9;
}

.container {
    background-color: white;
    width: 775px;
    height: 546px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

.element {
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 1px solid green;
    vertical-align: middle;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    color: green;
}

li{
    margin: 23px 0 0 5px;
}

li::before{
    content: '\2713';
    margin-right: 10px;
    border: 1px solid green;
    height: 20px;
    width: 20px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    color: green;
}

.element-list::before{
    content: '\2713';
    margin-right: 10px;
    border: 1px solid red;
    height: 20px;
    width: 20px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    color: red;

}

.elementred {
    display: inline-block;
    height: 30px;
    width: 30px;
    border: 1px solid red;
}